
.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input{
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 6px;
}

.search-btn{
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 6px;
  
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
  height: 400px;
}

